body{
  height: 100vh;
}

#background, #loading{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.card-line{
  text-decoration: underline;
  text-decoration-color: #00000030;
}
#chaves{
	margin: 1em;
}
.card-container{
	display: inline-block;
}
@media (max-width: 576px) {
  .card-container{
    display: block;
  }
}

#filtro{
	width: 300px;
	margin: auto;
}
.list-group{
	border-radius: 15%;
}
select{
	padding: .3em;
}
.input-style{
  color: gray;
  background: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}
#formato_a, #formato_b, #formato_c{
  display: none;
}
[id^="shape-"]{
  cursor: pointer;
  user-select: none;
}
[id^="key-"]{
  display: none;
}

.tipo strong{color: ;}
.posição strong{color: blue;}
.quantidade strong{color: ;}
.painel strong{color: ;}
.saidas strong{color: ;}
.tranca strong{color: ;}
.altura strong{color: ;}